<main class="bodycontent">
    <h1>Its Link not Zelda you dingus</h1>
    <section>
        <img src="https://picsum.photos/200/300/?blur=10" alt="" srcset="">
    </section>
    <section>
        <h3>Press the anykey</h3>
        <p>Träutensilierna i ett tryckeri äro ingalunda en faktor där trevnadens ordningens och ekonomiens upprätthållande, och dock är det icke sällan som sorgliga erfarenheter göras ordningens och ekon och miens därmed upprätthållande. Träutensilierna i ett tryckeri äro ingalunda en oviktig faktor, för trevnadens ordningens och och dock är det icke sällan.</p>
    </section>
</main>