<div class="screen-box">
        <h1 class="title">{{ page.title }}</h1>
    <div class="power-box">
            <div class="power-light"></div>
            <div class="power-status">)))</div>
            <div class="power-text">POWER</div>
          </div>
          <main class="bodycontent">
               
                    
                    {{ content }}
            </main>
          <div class="gameboy-color-logo">
            <span class="logo-gb">GAME BOY </span>
            <span class="logo-color">
              <span class="logo-color-c">C</span><span class="logo-color-o1">O</span><span class="logo-color-l">L</span><span class="logo-color-o2">O</span><span class="logo-color-r">R</span>
            </span>
            </div>
</div>
          