.footer{ 
    position: relative;; 
    bottom:0; 
    width:100%; 
    height:145px;
    background:$zeldaBlue;
    display: flex;
      justify-content: center;
      align-items: center;
    
     a .footerpic{
     
      width:200px;
      padding:22px;
      
      
      }
      
  }

  