$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: "hyliaserif";

$zeldaBlue: #3953C2;
$zeldaRed: #A70407;
$zeldaGreen: #06830B;
$zeldaWhite: white;


@font-face {
  font-family: "hyliaserif";
  src: url("/assets/fonts/HyliaSerif.ttf");
}

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0px;
  cursor: red;  
  
}

.header {
  width: 100%;
  background: $zeldaGreen;
  height: 150px;
  display: flex;
  justify-content: center;
  img {
    max-height: 100%;
  }
}

.navContainer {
   margin-top: 50px;
}

.navButton{
    font-size: 30px;
    font-family: $bodyFont;
    color: black;
    margin: 20px;
    padding: 20px;
    text-decoration: none; 
    transition: all 1s;
  }
  .navButton:hover {
    font-size: 40px;
  }
