$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

$zeldaBlue: #3953C2;
$zeldaRed: #A70407;
$zeldaGreen: #06830B;
$zeldaWhite: white;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;
  margin: 0px;
}

.header {
  width: 100%;
  background: $zeldaGreen;
  height: 150px;
  display: flex;
  justify-content: center;
  img {
    max-height: 100%;
  }
}

.navContainer {
   margin-top: 50px;
}

.navContainer a {
    font-size: 30px;
    font-family: helvetica;
    color: black;
    margin: 20px;
    padding: 20px;
    text-decoration: none; 
    position: relative;
    overflow: hidden;
  }

  .navContainer a::after {
    position: absolute;
    transform: rotateZ(60deg) translate(-5em, 7.5em);
  }

  .navContainer a:hover::after, .navContainer a:focus::after {
    animation: links 1s forwards;
  }

  @keyframes links {
    100% {
      transform: rotateZ(60deg) translate(1em, -9em);
      background-color: grey;
    }
  }