
.hyrule-BG{
    background-image: url("/assets/images/OcarinaOfTime/hyrulecastle.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 500px;
}

.timeContainer{
 
 
}
